body {
    background-color: #f8f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.pin-box {
    background-color: #d8f0ff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #3b99fc;
    margin-bottom: 15px;
}

.pin-box h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.pin-box input {
    width: 80%;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.pin-box p{
    font-size: 12px;
    margin-top: 5px;
}


.keypad {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
    background: #3b99fc;
    padding: 10px;
    border-radius: 8px;
}

.keypad button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background: white;
    color: black;     
    border-radius: 5px;
    cursor: pointer;
}

.keypad .clear {
    background: #6eb9ff !important; 
    color: white !important;
}

.keypad .enter {
    background: #6eb9ff !important; 
    color: white !important;
}